/* Master Styles */
html{
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:rgb(255, 255, 255);
}

body {
    margin: 20px;
    background: rgba(165, 165, 165, 0.2);
    padding-bottom: 5px;
}

.header {
    height: 100%;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-left: 15px;
    color: rgba(24, 84, 133, 0.849);
}

.content{
    z-index: 1;
    display: flex;
    overflow-y: scroll;
    position: fixed;
    margin: 20px; 
    width: 100%;
    height: 73%;
}

.tab{
    margin-left: 40px;  
  }

/*Nav Styles*/
.nav-wrapper {
    display: flex;
    justify-content: left;
    font-size: 1.5em;
    padding-bottom: 5px;
}

.nav-link-wrapper {
    height: 100%;
    margin-right: 25px;
    margin-left: 25px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color:  rgb(165,165,165);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid rgba(0, 140, 255, 0.849);
}
.nav-link-wrapper a:hover{
    color: rgba(0, 140, 255, 0.849);
}

.active-nav-link {
    border-bottom: 1px solid rgba(0, 140, 255, 0.849);
}

.active-nav-link a {
    color: rgba(0, 140, 255, 0.849) !important;
}

/*Social Media Styles*/
.social-media-wrapper {
    z-index: 2;
    display: flex;
    justify-content: left;
    position: fixed;
    padding-top: 5px;
    bottom: 2%;
}

.social-media-link-wrapper{
    display: flex;
    padding-top: 5px;
}

.social-media-link{
    display: flex;
    margin-right: 25px;
    margin-left: 25px;
}

/*index page styles*/
.profile-content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 60%;
    left: 3%;
}

.profile-content-wrapper h2{
    color: rgba(24, 84, 133, 0.849);
}

.profile-image-wrapper{
    display: flex;
    position: relative;
    width: 30%;
    left: 10%;
}

.profile-image-wrapper img{
    border-radius: 5%;
}

/*Coursework Styles*/
.course-content-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 40%;
    left: 3%;
}

.course-content-wrapper h2{
    color: rgba(24, 84, 133, 0.849);
}

.course-images-wrapper{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 50%;
    left: 5%;
    border: solid transparent;
}   

.course-images{
    display: flex;
    border: 1px solid transparent;
    transition: border 0.5s;
}
    
.course-images img, iframe{
    padding: 5%;
    border-radius: 10%;
}

.course-images a{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.course-images:hover{
    cursor: pointer;
    border: 1px solid rgba(0, 140, 255, 0.849);
}

/*Work Experience styles*/
.work-content-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 80%;
    left: 3%;
}

.work-content-wrapper h2{
    color: rgba(24, 84, 133, 0.849);
}

.work-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.work-images img{
    border-radius: 5%;
}

/*Skills Styles*/
.skills-content-wrapper{
    display: grid;
    grid-template-columns: 25% 20% 45%;
    position: relative;
    align-items: center;
    width: 97%;
    left: 3%;
}

.skills-content-wrapper h2{
    color: rgba(24, 84, 133, 0.849);
}

.skills-content-wrapper img{
    height: 300px;
    width: 400px;
    padding: 5%;
    border-radius: 15%;
}
